# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
repo_backup/
PROJECT_COMPLETE.md
QUICKSTART.md
DEPLOYMENT.md
CONTENT_GUIDE.md
public/PROFILE_PHOTO_INSTRUCTIONS.md

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
